main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.getInvolvedBlocks {
    grid-column: 1/3;
    grid-row: 1;
    width: 150%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.getInvolvedBlocks div h2 {
    text-align: center;
    margin-top: 0;
}
.getInvolvedBlocks div {
    width: 80%;
    margin: 20px;
    padding: 20px;
    color: white;
}
.getInvolvedBlocks div p {
    font-size: 15px;
}
.membership {
    background-color: #FF5241;
}
.careers {
    background-color: #04498e;
}
.volunteering {
    background-color: #A8DBC6;
}
.membershipAndPolicies {
    grid-column: 1/3;
    grid-row: 2;
    padding: 20px;
    width: 150%;
}
.membershipText {
    
}
.membershipText p {
    font-size: 15px;
}