main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
    width: 80%;
}
p {
    font-size: 20px;
}
.getInvolvedBlocks {
    grid-column: 1/3;
    grid-row: 1;
    width: 150%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.getInvolvedBlocks div h2 {
    text-align: center;
    margin-top: 0;
}
.getInvolvedBlocks div {
    width: 80%;
    margin: 20px;
    padding: 20px;
    color: white;
}
.getInvolvedBlocks div p {
    font-size: 15px;
}
.membership {
    background-color: #FF5241;
}
.careers {
    background-color: #04498e;
}
.volunteering {
    background-color: #A8DBC6;
}
.membershipAndPolicies {
    grid-column: 1/3;
    grid-row: 2;
    margin: 20px;
    width: 150%;
    display: grid;
    grid-template-columns: 65% 30%;
}
.membershipText {
    grid-column: 1;
}
.membershipText p {
    font-size: 15px;
}
.membershipPDF {
    grid-column: 2;
}
.BTNText {
    font-size: 20px;
    padding: 5px;
}
.Membership_BTN {
    text-decoration: none;
    
}
.MembershipPoliciesAndProceduresBookletPDF_DIV {
    grid-row: 1;
    background-color: #ff5241;
    text-decoration: none;
    color: white;
}
.MembershipPoliciesAndProceduresBookletSrpskiPDF_BTN {
    grid-row: 2;
    background-color: #ff5241;
    text-decoration: none;
    color: white;
}
.careerSection {
    grid-column: 1/3;
    grid-row: 3;
    margin: 20px;
    width: 150%;
    display: grid;
    grid-template-columns: 65% 30%;
}
.careersPDF {
    grid-column: 2;
}
.BTNText {
    font-size: 20px;
    padding: 5px;
}
.Careers_BTN {
    text-decoration: none;
}
.DanceInstructorJobPosting_DIV {
    grid-row: 1;
    background-color: #ff5241;
    text-decoration: none;
    color: white;
}
.ArtisticCoordinatorJobPosting_DIV {
    grid-row: 2;
    background-color: #ff5241;
    text-decoration: none;
    color: white;
}
.JuniorDanceInstructorJobPosting_DIV {
    grid-row: 3;
    background-color: #ff5241;
    text-decoration: none;
    color: white;
}
.CostumeCoordinatorJobPosting_DIV {
    grid-row: 4;
    background-color: #ff5241;
    text-decoration: none;
    color: white;
}
.CostumeCoordinatorAssistantJobPosting_DIV {
    grid-row: 5;
    background-color: #ff5241;
    text-decoration: none;
    color: white;
}
.volunteeringSection {
    grid-column: 1/3;
    grid-row: 4;
    margin: 20px;
    width: 150%;
    display: grid;
    grid-template-columns: 65% 30%;
}
.volunteeringText p a {
    color: black;
}
.volunteeringHoursSubmition {
    color: darkred
}